{ 
    "branches": ["main"],
    "tagFormat": "v${version}",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/github",
            {
                "releaseNameTemplate": "fe16-tools v<%= nextRelease.version %>",
            }
        ]
    ],
}
