{
    "branches": ["main"],
    "tagFormat": "v${version}",
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "conventionalcommits",
                "releaseRules": [
                    { "type": "build", "release": "patch" },
                    { "type": "style", "release": "patch" }
                ]
            }
        ],
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "conventionalcommits",
                "presetConfig": {
                    "types": [
                        { "type": "build", "section": "Build System" },
                        { "type": "ci", "section": "Continuous Integration" },
                        { "type": "docs", "section": "Documentation" },
                        { "type": "feat", "section": "Features" },
                        { "type": "fix", "section": "Bug Fixes" },
                        { "type": "perf", "section": "Performance Improvements" },
                        { "type": "refactor", "section": "Code Refactoring" },
                        { "type": "revert", "section": "Reverts" },
                        { "type": "style", "section": "Styles" },
                        { "type": "tests", "section": "Tests" }
                    ]
                }
            }
        ],
        [
            "@semantic-release/github",
            {
                "releaseNameTemplate": "fe16-tools v<%= nextRelease.version %>"
            }
        ]
    ]
}