<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - FE16 Tools</title>
        {% else %}
        <title>FE16 Tools</title>
        {% endif %}
    </head>
    <body>
        <div>FE16 Tools:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('meal_finder') }}">Meal Finder</a>
            <a href="{{ url_for('tea_helper') }}">Tea Helper</a>
            <a href="{{ url_for('item_helper') }}">Item Helper</a>
            <a href="{{ url_for('seed_calculator') }}">Seed Calculator</a>
        </div>
        <hr>
        <h1>{{ page_name }}</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>