<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const currentTheme = localStorage.getItem('theme') || 'light';
                if (currentTheme === 'dark') {
                    document.body.classList.add('dark-mode');
                }
            });
            function toggleTheme() {
                document.body.classList.toggle('dark-mode');
                const theme = document.body.classList.contains('dark-mode') ? 'dark' : 'light';
                localStorage.setItem('theme', theme);
            }
        </script>
        {% if title %}
        <title>{{ title }} - FE16 Tools</title>
        {% else %}
        <title>FE16 Tools</title>
        {% endif %}
    </head>
    <body>
        <div>FE16 Tools:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('meal_finder') }}">Meal Finder</a>
            <a href="{{ url_for('tea_helper') }}">Tea Helper</a>
            <a href="{{ url_for('item_helper') }}">Item Helper</a>
            <a href="{{ url_for('seed_simulator') }}">Seed Simulator</a>
            <a href="{{ url_for('lecture_assistant') }}">Lecture Assistant</a>
        </div>
        <hr>
        <button id="theme-toggle" onclick="toggleTheme()">Toggle Dark Mode</button>
        <h1>{{ page_name }}</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>