{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Helper Tool</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div align="left">
        <div style="display: inline-block">
            {{ form.lost_item.label }}:
            {{ form.lost_item }}
        </div>
    </div>
    <p>
        <div id="lost_item_info">
            <!-- Lost item info updates here -->
        </div>
    </p>
</form>
<script>
    $(document).ready(function() {
        function updateInfo() {
            var selectedOption = $('#lost_item_dropdown').val();
            $.ajax({
                url: '/get_item_data',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    selected_option: selectedOption
                }),
                success: function(response) {
                    $('#lost_item_info').empty();

                    $('#lost_item_info').append('Owner: ');
                    response.character.forEach(function(character) {
                        $('#lost_item_info').append(character.character);
                    });

                },
                error: function(error) {
                    console.log("Error:", error);
                }
            });
        }

        $('#lost_item_dropdown').change(function() {
            updateInfo();
        });

        updateInfo();
    });
</script>
{% endblock %}
