{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <div align="left">
                <div style="display: inline-block">
                    {{ form.character1.label }}<br>
                    {{ form.character1 }}
                </div>
                <div style="display: inline-block">
                    {{ form.character2.label }}<br>
                    {{ form.character2 }}
                </div>
                <div style="display: inline-block">
                    {{ form.submit() }}
                </div>
            </div>
        </p>
        <p>
            {% if menu | length > 1 and num_chars > 1 %}
                <p><b>Like these meals:</b></p>
            {% elif menu | length > 1 and num_chars == 1 %}
                <p><b>Likes these meals:</b></p>
            {% elif menu | length == 1 %}
                <p><b>Like this meal:</b></p>
            {% endif %}
            {% for m in menu %}
                <p>{{ m.meal }}</p>
            {% endfor %}
        </p>
    </form>
{% endblock %}