{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <div align="left">
                <div style="display: inline-block">
                    {{ form.character1.label}}<br>
                    {{ form.character1 }}
                </div>
                <div style="display: inline-block">
                    {{ form.character2.label}}<br>
                    {{ form.character2 }}
                </div>
            </div>
        </p>
    </form>
{% endblock %}