{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Helper Tool</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div align="left">
        <div style="display: inline-block">
            {{ form.seed1.label }}:
            {{ form.seed1 }}
        </div>
    </div>
    <div align="left">
        <div style="display: inline-block">
            {{ form.seed2.label }}:
            {{ form.seed2 }}
        </div>
    </div>
    <div align="left">
        <div style="display: inline-block">
            {{ form.seed3.label }}:
            {{ form.seed3 }}
        </div>
    </div>
    <div align="left">
        <div style="display: inline-block">
            {{ form.seed4.label }}:
            {{ form.seed4 }}
        </div>
    </div>
    <div align="left">
        <div style="display: inline-block">
            {{ form.seed5.label }}:
            {{ form.seed5 }}
        </div>
    </div>
    <p>
        <div id="info">
            <!-- Info updates here -->
        </div>
    </p>
</form>
<script>
    $(document).ready(function() {
        function updateInfo() {
            var seed1SelectedOption = $('#seed1_dropdown').val();
            var seed2SelectedOption = $('#seed2_dropdown').val();
            var seed3SelectedOption = $('#seed3_dropdown').val();
            var seed4SelectedOption = $('#seed4_dropdown').val();
            var seed5SelectedOption = $('#seed5_dropdown').val();
            $.ajax({
                url: '/get_seed_data',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    seed1_selected_option: seed1SelectedOption,
                    seed2_selected_option: seed2SelectedOption,
                    seed3_selected_option: seed3SelectedOption,
                    seed4_selected_option: seed4SelectedOption,
                    seed5_selected_option: seed5SelectedOption
                }),
                success: function(response) {
                    $('#info').empty();

                },
                error: function(error) {
                    console.log("Error:", error);
                }
            });
        }

        $('#seed1_dropdown, #seed2_dropdown, #seed3_dropdown, #seed4_dropdown, #seed5_dropdown').change(function() {
            updateInfo();
        });

        updateInfo();
    });
</script>
{% endblock %}
