{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tea Helper Tool</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div align="left">
        <div style="display: inline-block">
            {{ form.character.label }}<br>
            {{ form.character }}
        </div>
    </div>
</form>
{% endblock %}